
 # Mini Projet – Traitement de Données avec Python - Pandas
 
        [=> SOURABIE Kikin Abdoul Kader

# 0. Importation des bibiliothèques

In [1]:
import os
import pandas as pd
import string
import xlsxwriter

# 1.  Préparation du repertoire des données

In [2]:
os.chdir("C:/Users/SOURABIE/Desktop/Master FD & IA/Data Processing/BF")

# 2. Chargement de la base de données

In [3]:
collone=["geonameid","name","asciiname",  "alternatenames","latitude","longitude", "feature class","feature code", "country code", 
     "cc2", "admin1 code", "admin2 code","admin3 code","admin4 code","population", "elevation", "dem", "timezone", "modification date"]

bfa = pd.read_csv("BF.txt",delimiter="\t", header=None, names=collone)

# 3. Appliquons les opérations de prétraitement et filtres nécessaires à ce fichier

In [4]:
# 3.1 Gardons que les colonnes correspondantes à Identifiant, les Noms de lieux , latitudes et  longitudes 

selected_collone = ["geonameid", "asciiname", "latitude", "longitude"]

sub_bfa = bfa[selected_collone]

# 3.2 Renommons les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'

rename_col = {"geonameid":"ID", "asciiname":"location_name", "latitude":"lat", "longitude":"long"}

sub_bfa.rename(columns = rename_col, inplace=True)

# 3.3 Sauvegardons ces données dans un fichier CSV, nommez-le burkina_location.csv

sub_bfa.to_csv("burkina_location.csv")

C:\Users\SOURABIE\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

# 4. Opérations sur le fichier CSV burkina_location.csv

In [5]:
# 4.1 Extrairons les données contenant le nom 'gounghin'et enregistrons-le sous le fichier gounghin.csv

burkina_location = pd.read_csv('burkina_location.csv')

burkina_location_gounghin = burkina_location[burkina_location.location_name.str.lower()=="gounghin"]

burkina_location_gounghin.to_csv('gounghin.csv')

In [6]:
# 4.2 Extraire la sous-partie de burkina_location.csv , dont les premières lettres des noms de lieux sont compris entre 'A' et'P'

burkina_location_a_p = burkina_location[(burkina_location.location_name.str[0] >= "A" ) & (burkina_location.location_name.str[0] <="P" ) ]

burkina_location_a_p = burkina_location_a_p.sort_values(by='location_name')

burkina_location_a_p.head()

       Unnamed: 0        ID location_name       lat     long
10590       10590   6913771        Abanda  15.06808 -0.59805
10013       10013   2363251        Abanga  13.32429  0.31151
11035       11035  11980339        Abassi  12.27728 -1.13662
10551       10551   6874881         Abaye  13.44080 -3.90190
10012       10012   2363250      Aberekui  12.50000 -3.41667

In [7]:
burkina_location_a_p.tail()

       Unnamed: 0       ID        location_name       lat     long
10357       10357  2597270  Province du Zondoma  13.18333 -2.36667
3107         3107  2356291              Pwedogo  12.67657 -1.86640
3106         3106  2356290                Pwiga  14.42583 -0.50691
3105         3105  2356289             Pyeongou  12.11667  0.55000
3103         3103  2356287             Pyourgou  12.25000 -0.46667

In [8]:
# Enregistrement de burkina_location_a_p sous format csv

burkina_location_a_p.to_csv('burkina_location_a_p.csv')

In [9]:
# 4.3 Identifions la latitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv.
burkina_location[burkina_location.lat == burkina_location.lat.min()]

       Unnamed: 0        ID location_name     lat    long
11149       11149  12224995  Fadio-Mepehn  9.4295 -2.7775

In [11]:
# Identifions la longitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv.

burkina_location[burkina_location.long == burkina_location.long.min()]

      Unnamed: 0       ID location_name    lat     long
1255        1255  2354426      Tinobole  10.75 -5.48333

In [12]:
# 4.4 Donnons les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon<= 0.5)
burkina_location[(burkina_location.lat >= 11 ) & (burkina_location.long <= 0.5 ) ]

       Unnamed: 0        ID location_name       lat     long
0               0   2353158      Zyonguen  12.36667 -0.45000
1               1   2353159     Zyiliwele  12.38333 -2.73333
2               2   2353160        Zyanko  12.78333 -0.41667
3               3   2353161         Zouta  13.14908 -1.28197
4               4   2353162     Zourtenga  12.95741 -1.28745
...           ...       ...           ...       ...      ...
11288       11288  12358467          Kate  14.13461 -0.81244
11290       11290  12358654      Koulhole  13.43898 -1.16817
11293       11293  12358657     Nagbingou  13.55244 -0.46760
11295       11295  12358676         Sella  14.35699  0.28666
11296       11296  12358677       Kiefaye  13.78260 -1.58790

[9026 rows x 5 columns]

# 5. Sorties Excel

In [13]:
# 5.1 Créons un fichier Excel mini_projet et créons les feuilles 'gounghin' et 'A_to_P' 

workbook  = xlsxwriter.Workbook(os.path.join(os.getcwd(), 'mini_projet.xlsx'))
sheet_gounghin = workbook.add_worksheet('gounghin')
sheet_a_to_p = workbook.add_worksheet('A_to_P')

# Excluons la collone 'Unnamed'

colonnes = [c for c in list(burkina_location_gounghin.columns) if c!='Unnamed: 0']

# Création des entêtes 

for i in range(len(colonnes)):
        sheet_gounghin.write(0, i, colonnes[i])
        sheet_a_to_p.write(0, i, colonnes[i])
        
#5.2 Renseignement des données de la feuille 'gounghin' 

for i in range(burkina_location_gounghin.shape[0]):
    for j in range(len(colonnes)):
        sheet_gounghin.write(i+1, j, burkina_location_gounghin.iloc[i][colonnes[j]])

#5.2 Renseignement des données de la feuille  'A_to_P' 
for i in range(burkina_location_a_p.shape[0]):
    for j in range(len(colonnes)):
        sheet_a_to_p.write(i+1, j, burkina_location_a_p.iloc[i][colonnes[j]])
workbook.close()